html {
  font-family: "IBM Plex Sans", sans-serif;
}

.playlogo {
  max-width: 200px;
}

header {
  background-color: #ddd;
}

.playgrounds {
  background-color: #efefef;
}

section {
  background-color: #fff;
}

.table-wrapper table {
  min-width: 45em;
}

@media only screen and (min-width: 38em) {

  .pad-bottom-half, .pad-b-1-2 {
    padding-bottom: .2rem;
  }

  .logo {
    max-width: 175px;
  }

}

@media only screen and (min-width: 60em) {

  .table-wrapper {
    overflow: visible;
  }

}
